div.FooterTable {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.tabs-panel {
    background-color: #194773;
}
.tabs-nav li.tabs-nav-active {
    color: #fffffff !important;
	text-shadow: none !important;
}
.tabs-nav li#IndexTab.tabs-nav-inactive {
    color: #194773 !important;
	text-shadow: none !important;
}
body{
color: #000000 !important;
}
h1, h2, h3, h4{
	font-family: Arial;
	}
	
	.search-filter{
	display:none;
	}
	
	.remove-highlight-button{
	display:none;
	}